html {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  color: #555555;
  font-family: "Ubuntu";
}

.hero-section {
  background-image: url(../../media/brown-book-page.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.hero-section-overlap {
  padding-bottom: 6.375rem;
}

.hero-section-overlap+* {
  position: relative;
  margin-top: -4.875rem;
  z-index: 5;
}

.main-logo-link {
  width: fit-content;
}

.mt-lg-n10 {
  margin-top: -10rem !important;
}

/* ------------------------------- toasts */

.message-container {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-top {
  height: 2px;
}

/* -------------------------------- Media Queries */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .header-container {
    padding-top: 128px;
  }
}
@media (max-width: 991px) {
  .header-container {
    padding-top: 80px;
  }
}
