html {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  height: calc(100vh - 164px);
  color: #555555;
  font-family: "Ubuntu";
}

.main-logo-link {
  width: fit-content;
}

/* -------------------------------- Media Queries */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .header-container {
    padding-top: 164px;
  }
}
@media (max-width: 991px) {
  .header-container {
    padding-top: 116px;
  }

  body {
    height: calc(100vh - 116px);
  }
}
