{% extends "base.html" %}
{% load static %}

{% block hero_section %}
<section class="hero-section">
    <div class="pb-lg-5 mb-lg-3">
        <div class="container py-lg-5 mb-lg-5">
            <h1 class="text-white">
                The learning management system that you need
            </h1>
            <h2 class="text-white">
                Learn any topic, anytime, anywhere.
            </h2>
            <div class="my-5">
                <h4>
                    <a href="" class="btn btn-lg btn-primary rounded-0 text-uppercase py-3">Start Now</a>
                </h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="container mt-lg-n10" style="z-index: 10;">
    <div class="card border-0 shadow-sm">
        <div class="card-body p-4">
            Quisque feugiat finibus ex, id tempus odio scelerisque a. Donec consequat mi nulla. Vestibulum luctus id nibh et auctor. Nullam vitae commodo risus, sed efficitur sem. In egestas non mi feugiat pretium. Curabitur sed urna at sem ultrices euismod at eget turpis. Aenean est mauris, ultricies id congue at, venenatis ut lectus. Vestibulum a ante vel nunc fermentum ultrices et tincidunt ipsum. Ut nunc turpis, convallis eu erat a, pretium maximus magna. Integer ac dui vitae eros suscipit bibendum. Ut commodo viverra odio, vel interdum mauris eleifend non.
        </div>
    </div>
</section>
{% endblock %}