{% extends "base.html" %}
{% load static %}

{% block extra_title %}Shopping Cart{% endblock %}

{% block hero_section %}
<div class="hero-section-overlap pt-4 bg-dark">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="pr-lg-4 text-center text-lg-left">
            <h1 class="text-light mb-0">Shopping cart</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container mt-lg-n5" style="z-index: 10;">
    <div class="card border-0 shadow-sm">
        <div class="card-body p-4">



    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless mb-0">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.course.title }}</strong></p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.course.get_price }}</p>
                        </td>
                        <td class="py-3">
                            <button class="btn btn-sm btn-outline-danger remove-item float-right"
                                id="remove_{{ item.item_id }}"><small>Remove</small></button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h4 class="mt-4"><strong>Total: {{ total|floatformat:2 }} £</strong></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a href="{% url 'courses' %}" class="btn btn-outline-primary rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-primary rounded-0 btn-lg float-right">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your cart is empty.</p>
            <a href="{% url 'courses' %}" class="btn btn-outline-primary rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>

</div>
</div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}