{% extends "base.html" %}
{% load static %}

{% block extra_title %}Courses{% endblock %}

{% block hero_section %}
<div class="hero-section-overlap pt-4 bg-dark">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="pr-lg-4 text-center text-lg-left">
            <h1 class="text-light mb-0">Courses</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container mt-lg-n5" style="z-index: 10;">
    <div class="card border-0 shadow-sm">
        <div class="card-body p-4">

            <div class="row m-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for course in courses %}
                <div class="col mb-4 p-0 p-md-3">
                    <div class="card h-100">
                        {% if course.image %}
                        <a href="{% url 'course_detail' course.id %}">
                            <img class="card-img-top img-fluid" src="{{ course.image.url }}" alt="{{ course.title }}">
                        </a>
                        {% else %}
                        <a href="{% url 'course_detail' course.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ course.title }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">
                                <a href="{% url 'course_detail' course.id %}">{{ course.title }}</a>
                            </p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-right font-weight-bold">{{ course.get_price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}