{% extends "base.html" %}
{% load static %}

{% block extra_title %}{{ course.title }}{% endblock %}

{% block hero_section %}
<div class="hero-section-overlap pt-4 bg-dark">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="pr-lg-4 text-center text-lg-left">
            <h1 class="text-light mb-0">{{ course.title }}</h1>
        </div>
        <div class="mb-lg-0 text-center text-lg-right">
            <h1 class="mb-0"><span class="badge badge-primary">{{ course.get_price }}</span></h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container mt-lg-n5">
    <div class="card border-0 shadow-sm">
        <div class="card-body p-4">

            <div class="row m-0">
                <!-- Sidebar-->
                <aside class="col-lg-4 p-0 pr-lg-4">
                    <div class="h-100 mr-auto">
                        <!-- Course image-->
                        <div class="image-container">
                            {% if course.image %}
                            <img class="img-fluid" src="{{ course.image.url }}" alt="{{ course.name }}">
                            {% else %}
                            <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ course.name }}">
                            {% endif %}
                        </div>

                        <hr>

                        {% if course.price > 0 %}
                        <form class="form" action="{% url 'buy_now' course.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <a href="#"
                                        class="btn btn-lg btn-block btn-outline-primary rounded-0 text-uppercase add-to-cart"
                                        id="course_id_{{ course.id }}">Add to Cart</a>
                                    <input type="submit"
                                        class="btn btn-lg btn-block btn-primary rounded-0 text-uppercase"
                                        value="Buy Now">
                                </div>
                            </div>
                        </form>
                        {% else %}
                        {% if course.get_enrollement %}
                        <button type="button" class="btn btn-lg btn-block btn-primary rounded-0 text-uppercase"
                            disabled>Enrolled</button>
                        {% else %}
                        <button type="button"
                            class="btn btn-lg btn-block btn-primary rounded-0 text-uppercase enroll-to-course"
                            id="course_id_{{ course.id }}">Enroll Now</button>
                        {% endif %}
                        {% endif %}

                        {% if course.topic %}
                        <hr>
                        <p class="mt-1 mb-0">
                            <a class="text-muted" href="{% url 'courses' %}?topic={{ course.topic.title }}">
                                <i class="fas fa-list mr-1"></i>{{ course.topic.title }}
                            </a>
                        </p>
                        {% endif %}
                        <hr>
                    </div>
                </aside>
                <!-- Content-->
                <section class="col-lg-8 px-0">
                    <!-- Course description-->
                    <h4>Course Description</h4>
                    <hr class="mt-0">
                    <p>{{ course.description }}</p>
                    <h4>Course Lessons</h4>
                    <hr class="mt-0">
                    {% if lessons %}
                    <div class="accordion" id="accordionLessons">
                        {% for lesson in lessons %}
                        <div class="card rounded-0 mb-2 border-bottom">
                            <div class="card-header bg-white p-0" id="heading_{{ lesson.id }}">
                                <button
                                    class="btn btn-lg btn-link btn-block text-left p-3 text-decoration-none text-dark"
                                    type="button" data-toggle="collapse" data-target="#lesson_{{ lesson.id }}"
                                    aria-controls="lesson_{{ lesson.id }}">
                                    <b>{{ forloop.counter|stringformat:"02d" }} | </b> {{ lesson.title }}
                                </button>
                            </div>
                            {% if course.get_enrollement %}
                            <div id="lesson_{{ lesson.id }}" class="collapse" aria-labelledby="heading_{{ lesson.id }}"
                                data-parent="#accordionLessons">
                                <div class="card-body">
                                    {{ lesson.description }}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>No lessons added yet</p>
                    {% endif %}
                </section>
            </div>

        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        $('.collapse').on('show.bs.collapse', function () {
            $(this).siblings('.card-header').find('button.btn-link').removeClass('text-dark').addClass(
                'text-primary');
        });

        $('.collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.card-header').find('button.btn-link').removeClass('text-primary')
                .addClass('text-dark');
        });

        // Add course to cart ajax
        $('.add-to-cart').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('course_id_')[1];
            var url = `/cart/add/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken,
            };

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        })

        // Enroll user to course ajax
        $('.enroll-to-course').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('course_id_')[1];
            var url = `/courses/enroll/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken,
            };

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        })
    });
</script>
{% endblock %}