{% extends "base.html" %}
{% load static %}

{% block hero_section %}
<div class="hero-section-overlap pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="pr-lg-4 text-center text-lg-left">
            <h1 class="h3 text-light mb-0">{{ course.title }}</h1>
        </div>
        <div class="mb-3 mb-lg-0 pt-lg-2">
            {{ course.price }} £
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container mb-3 pb-3">
    <div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
        <div class="row">
            <!-- Sidebar-->
            <aside class="col-lg-4">
                <div class="h-100 mr-auto border-right" style="padding: 1rem;">
                    <!-- Course image-->
                    <div class="image-container">
                        {% if course.image %}
                        <img class="img-fluid" src="{{ course.image.url }}" alt="{{ course.name }}">
                        {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ course.name }}">
                        {% endif %}
                    </div>

                    <hr>

                    <form class="form" action="{% url 'buy_now' course.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <a href="#"
                                    class="btn btn-lg btn-block btn-outline-primary rounded-0 text-uppercase add-to-cart"
                                    id="course_id_{{ course.id }}">Add to Cart</a>
                                <input type="submit" class="btn btn-lg btn-block btn-primary rounded-0 text-uppercase"
                                    value="Buy Now">
                            </div>
                        </div>
                    </form>

                    {% if course.category %}
                    <hr>
                    <p class="mt-1 mb-0">
                        <a class="text-muted" href="{% url 'courses' %}?category={{ course.category.title }}">
                            <i class="fas fa-list mr-1"></i>{{ course.category.title }}
                        </a>
                    </p>
                    {% endif %}
                    <hr>
                </div>
            </aside>
            <!-- Content-->
            <section class="col-lg-8 pt-2 pb-4 mb-lg-3 px-0">
                <div class="px-4 pl-lg-0 pr-xl-5">
                    <!-- Course description-->
                    <div class="d-flex flex-wrap justify-content-between align-items-center pt-3">
                        <p>{{ course.description }}</p>
                    </div>
                    <hr>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // Add course to cart ajax
    $('.add-to-cart').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('course_id_')[1];
        var url = `/cartadd/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}