{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block hero_section %}
<div class="hero-section-overlap pt-4 bg-dark">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="pr-lg-4 text-center text-lg-left">
            <h1 class="text-light mb-0">{% trans "Confirm E-mail Address" %}</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block inner_content %}
<section class="container mt-n5">
    <div class="card border-0 shadow-sm">
        <div class="card-body p-4">
            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                    href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
                {{ user_display }}.{% endblocktrans %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="btn btn-outline-primary" type="submit">{% trans 'Confirm' %}</button>
            </form>

            {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a
                    href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
