{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Change Password" %}{% endblock %}

{% block hero_section %}
<div class="hero-section-overlap pt-4 bg-dark">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="pr-lg-4 text-center text-lg-left">
            <h1 class="text-light mb-0">{% trans "Change Password" %}</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block inner_content %}
<section class="container mt-n5">
    <div class="card border-0 shadow-sm">
        <div class="card-body p-4">
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
                request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-outline-primary" type="submit" name="action"
                    value="{% trans 'change password' %}" />
            </form>
            {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
