{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Change Password" %}{% endblock %}

{% block hero_section %}
<div class="hero-section-overlap pt-4 bg-dark">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="pr-lg-4 text-center text-lg-left">
      <h1 class="text-light mb-0">{% trans "Change Password" %}</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block inner_content %}
<section class="container mt-n5">
  <div class="card border-0 shadow-sm">
    <div class="card-body p-4">
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
  </div>
</section>
{% endblock %}
