<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="courses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="courses-link">
                <a href="{% url 'courses' %}" class="dropdown-item">View All</a>
            </div>
        </li>
    </ul>
</div>